<div class="col-md-6 card bg-white">
 
    <div class="row mb-4 artist">
      <div class="col-md-5">
        <h2 class="artistName">{{artist.name}}</h2>
        <p class="artistCountry">{{artist.country}}</p>
        <p class="artistLifespan">{{artist.life-span.name}}</p>
        
      </div>
    </div>

    {{#if artist.albums.length}}
      <h3>Albums:</h3>
      <ul>
        {{#each artist.albums as |album|}}
          <li>{{album.title}} (Release Date: {{album.releaseDate}})</li>
         
        {{/each}}
      </ul>
    {{else}}
      <p>No further details.</p>
    {{/if}}
  
</div>
